*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Segoe UI',sans-serif;
}

body{
  background:
  linear-gradient(
  135deg,
  #07121f,
  #0b1f2f,
  #091722);

  color:white;
  min-height:100vh;
}

.glass{
  background:rgba(255,255,255,0.05);

  backdrop-filter:blur(15px);

  border:1px solid rgba(
  255,255,255,0.08);

  box-shadow:
  0 8px 32px rgba(
  0,0,0,0.35);

  border-radius:20px;
}